.container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#myButton{
  width: 431px;
  height: 231px;
  font-size: 31px;
  box-sizing: border-box;
}

.modal {
  display: none; /* Modalı başlangıçta gizle */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 400px;
  border: 2px solid black;
  border-radius: 8px;
  z-index: 9999;
  font-size: 20px;
}

.modal-content {
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#restartButton{
  width: 231px;
  height: 131px;
  font-size: 15px;
  box-sizing: border-box;

}