body{
  background: linear-gradient(135deg, #2a0769, #4e085f);
}


.container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.tanıtımm{
  position: relative;
  font-size: 58px;
  left: 67px;
  bottom: 200px;
  margin-left: 57px;
}

#myButton{
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 431px;
  height: 231px;
  font-size: 31px;
  border-radius: 59px;
  box-sizing: border-box;
}

.modal {
  display: none; /* Modalı başlangıçta gizle */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(135deg, #FFA500, #fcaf1f );
  padding: 100px;
  border: 2px solid black;
  border-radius: 8px;
  z-index: 9999;
  font-size: 28px;
}

.modal-content {
  text-align: center;
}

.modalMessagee{
  position: relative;
  top: 150px;
}

.modalMessagee2 {
  position: fixed;
  top: 50px;
  right: 56px;
}

.reqq{
  position: relative;
  font-size: 58px;
  left: 67px;
  bottom: 200px;
  white-space: nowrap;  
}


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#restartButton{
  width: 231px;
  height: 131px;
  font-size: 15px;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 59px;
  box-sizing: border-box;

}

#turtleimg{
  width: 340px;
  height: 200px;
  position: relative;
  bottom: 190px;
  right: 150px;
}
#rabbitimg{ 
  width: 340px;
  height: 200px;                             
  position: relative;
  bottom: 190px;
  right: 150px;
}
#monkeyimg{
  width: 340px;
  height: 200px;
  position: relative;
  bottom: 190px;
  right: 150px;
}
#cheetahimg{
  width: 340px;
  height: 200px;
  position: relative;
  bottom: 190px;
  right: 150px;
}